# Entorno virtual
venv/
__pycache__/

# Archivos de entorno y secretos
.env
google-credentials.json

# Archivos del sistema operativo
.DS_Store

# Ignorar la carpeta de subidas de archivos de usuarios
static/uploads/